<ion-header>
  <ion-toolbar color="kartuli">
    <ion-title>Optredens 🎵🎻🎺</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let optredenDag of optredensPerDag">
    <h1 text-center>{{formatDatum(optredenDag.datum)}}</h1>
    <ion-card *ngFor="let optreden of optredenDag.optredens" [routerLink]="['/tabs/optredens', optreden.id]">
      <ion-card-header>
        <ion-card-subtitle>
          <span class="flag-icon flag-icon-{{optreden.landCode}}"></span>
          {{ optreden.plaats }}
          <ion-badge color="medium" style="position: absolute; top: 0; right: 0">
            {{optreden.tijd}}
          </ion-badge>
        </ion-card-subtitle>
        <ion-card-title>{{ optreden.locatie }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-chip color="tertiary">
            <ion-label>{{optreden.aantalBezoekers}} bezoekers</ion-label>
          </ion-chip>
          <ion-chip color="success" *ngIf="optreden.gastdirigent.length > 0">
            <ion-label>Gastdirigent: {{optreden.gastdirigent}}</ion-label>
          </ion-chip>
        </div>
        <div>
          <ion-chip color="{{optreden.isBuiten ? 'primary' : 'dark'}}">
            <ion-label>Buiten</ion-label>
          </ion-chip>
          <ion-chip color="{{optreden.isSociaal ? 'primary' : 'dark'}}">
            <ion-label>S</ion-label>
          </ion-chip>
          <ion-chip color="{{optreden.isOpenbaar ? 'primary' : 'dark'}}">
            <ion-label>O</ion-label>
          </ion-chip>
          <ion-chip color="{{optreden.isBesloten ? 'primary' : 'dark'}}">
            <ion-label>B</ion-label>
          </ion-chip>
          <ion-chip color="{{optreden.isWildOp ? 'primary' : 'dark'}}">
            <ion-label>W</ion-label>
          </ion-chip>
        </div>

        <p *ngIf="optreden.stukken.length > 0">Programma</p>

        <div>
          <ion-chip outline *ngFor="let stuk of optreden.stukken">
            <ion-label>{{stuk.code}}</ion-label>
          </ion-chip>
        </div>

        <div class="ion-padding-vertical" *ngIf="optreden.opmerkingen.length > 0">
          <ion-icon name="chatbubbles"></ion-icon>
          {{optreden.opmerkingen}}
        </div>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/tabs/optredens/-1'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
