<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="optredens">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Optredens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="repertoire">
      <ion-icon name="document"></ion-icon>
      <ion-label>Repertoire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistiek">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Statistak</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charts">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Charts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="backup">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Backup</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
