<ion-header>
  <ion-toolbar color="kartuli">
    <ion-title>Repertoire 📄📜🎧</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let stuk of stukken" button
              [routerLink]="env.editable ? ['/tabs/repertoire/', stuk.id] : undefined">
      <ion-label>
        <strong>{{stuk.titel}}</strong><br/>
        {{stuk.componist}}
      </ion-label>
      <ion-chip color="primary" *ngIf="stuk.metSolist1" slot="end">
        <ion-label>1</ion-label>
      </ion-chip>
      <ion-chip color="secondary" *ngIf="stuk.metSolist2" slot="end">
        <ion-label>2</ion-label>
      </ion-chip>
      <ion-chip outline slot="end">
        <ion-label>{{stuk.code}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="env.editable">
    <ion-fab-button [routerLink]="'/tabs/repertoire/-1'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
