<ion-header>
  <ion-toolbar color="kartuli">
    <ion-title>De Ricciotti Charts ✨🏆🥇</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [ngModel]="mode" value="globaal" (ionChange)="updateCharts($event)">
    <ion-segment-button value="globaal">Globaal</ion-segment-button>
    <ion-segment-button value="nl"><span class="flag-icon flag-icon-nl"></span></ion-segment-button>
    <ion-segment-button value="ge"><span class="flag-icon flag-icon-ge"></span></ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let stuk of ricciottiCharts; let i = index">
            <ion-label>
              <strong>{{stuk.titel}}</strong><br/>
              {{stuk.componist}}
            </ion-label>
            <ion-badge slot="start" color="primary">{{i + 1}}</ion-badge>
            <ion-chip color="success" slot="end">
              <ion-label>{{stuk['count']}}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
